*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.app {
    width: 100%;
    position: relative;
}

/* HEADER */


.head {
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
   
}

.head__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 86%;
    height: 88px;
    display: flex;
    justify-content: space-between;
}


.head__logo{
    display: flex;
    align-items: center;
}

.head__logo-img{
    position: relative;
    background-color: black;
    width: 49px;
    height: 49px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head__logo-img a{
    position: relative;
    left: 28%;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.head__logo-name p{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
}

.head__icon{
    align-items: center;
    display: flex;
}

.head__icon .head__icon-github {
    background-color: #F26464;
    font-size: 18px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
}



.head__icon .head__icon-github .fa-github {
    padding-top: 4px;
    color: white;
}

.head__icon .head__icon-linkedin{
    background-color: #F26464;
    font-size: 18px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 10px;
}

.head__icon .head__icon-linkedin .fa-linkedin-in {
    padding-top: 4.5px;
    color: white;
}

.head__icon .head__icon-stack {
    background-color: #F26464;
    font-size: 18px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    text-align: center;
}

.head__icon .head__icon-stack .fa-stack-overflow {
    padding-top: 3px;
    color: white;
}

.head__icon--hover:hover {
    cursor: pointer;
    background-color: #cd6363;
    box-shadow: 2px 2px 2px #e0e0e0;
    font-size: 22px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
}


/* CONTAINER */
.container {
    position: relative;
    padding-top: 180px;
    margin-left: 7%;
    margin-right: 7%;
}

.app__banner {
    position: relative;
    width: 100%;
    height: 630px;
    display: flex;
    justify-content: center;
    
}

.app__banner .app__banner-img {
   margin-right: 6% ; 
   width: 45%;
   height: auto;
}

.app__banner .app__banner-img img {
    width: 100%;
    /* width: 500px;
    height: 650px; */
    border-radius: 10px;
    object-fit:cover;
    max-height: 100%;
}

.app__banner-content{
    padding-top: 10px;
    width: 50%;
    height: auto;
    /* margin: 20px 120px 30px; */
}

.app__banner-content--head{
    letter-spacing: 3px;
    font-size: 20px;
}

.app__banner-content--body {
    padding: 20px 0 ;
}

.app__banner-content--body p{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}

.app__banner-content--end {
    display: flex;
    margin-top: 50px;
}

.conten__end {
    margin-right: 56px;
}


.conten__end .content__end-number p {
    font-size: 45px;
    margin: 0px;
    color: #F26464;
    font-weight: bold;
}

.conten__end .content__end-text p {
    font-size: 20px;
    margin-top: 10px;
}


/* Abuot */

.app__about{
    margin-top: 80px;

}

.app__about--heading {
    width: 100px;
}

.app__about--heading h2 {
    font-size: 18px;
    border-bottom: 3px solid #F26464 ;
}

.app__about--content p {
    font-weight: 200;
    font-size: 26px;
    line-height: 40px;
}

.app__about--end {
    display: flex;
    justify-content: center;
}



.app__about--button {
    border-radius: 30px;
    padding: 15px;
    width: 230px;
    border: 3px solid #F26464;
    margin: 50px 0px;
    transition: all 0.3s ease-in;
}

.app__about--button:hover {
    background-color: #F26464;
    box-shadow: 4px 4px 4px #e0e0e0;
}

.app__about--button:hover a{
    color: white;
}


.app__about--button a{
    color: #F26464;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
}

/* App list */

.app__list {
    display: flex;
    justify-content: space-between;
}
.menu__left {
    width: 50%;
    margin-right: 20px;
}
.menu__list-heading h2 {
    width: 126px;
    font-size: 18px;
    border-bottom: 3px solid #F26464 ;
}
.menu__list {
    padding-top: 16px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.menu__list .menu__list-item {
    margin-right: 16px;
    margin-bottom: 16px;
    align-items: center;
    padding: 10px 20px;
    list-style: none;
    border: 1px solid #9f9e9e;
    border-radius: 40px;
    font-size: 17px;
}

.menu__right {
    width: 50%;

}

.menu__list-heading--next h2 {
    width: 140px;
}

/* WORK EXPERIENCE */

.app__work {
    position: relative;
    width: 100%;
    padding: 100px 0;
}

.app__work--head {
    padding-bottom: 15px; 
}

.work__head--text h2 {
    width: 184px;
    font-size: 18px;
    border-bottom: 3px solid #F26464;
}

.app__work--body {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.work__body:first-child {
    margin-right: 6%;
}



.work__body .body__title--one {
    font-size: 15px;
    font-weight: 600;
}

.work__body .body__title--two {
    font-size: 25px;
    font-weight: 100;
}

.work__body .body__title--three {
    font-size: 19px;
    font-weight: 600;
}

.work__body p {
    padding: 20px 0px;
    font-size: 1.25rem;
    color: #6d6c6c;
}

.work__body ul li {
    position: relative;
    font-size: 1.25rem;
    line-height: 1.7rem;
    padding: 8px 0px;
    list-style: none;
    color: #6d6c6c;
}

.work__body ul li::before {    
    content: "";
    position: absolute;
    left: -29px;
    top: 17px;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: #373737;
}

/* LATEST WORKS */

.latest_work {
    width: 100%;
    min-height: 460px;
    margin-bottom: 200px;
}

.latest_work--head {
    padding-bottom: 10px;
}


.latest_work--title {
    width: 148px;
    font-size: 18px;
    border-bottom: 3px solid #F26464;
}


.latest_work--content {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #F6F8FA;
    width: 100%;
    height: 486px;
    padding: 48px 0px 0px 60px;
    margin-bottom: 50px;
    
}

.work__content--text {
    width: 45%;
}

.work__content--text h2 {
    font-size: 28px;
    padding-bottom: 10px;
}

.work__content--text p {
    font-size: 19px;
    line-height: 31px;
    color: #4b4b4b;
}


.work__content--button {
    display: flex;
    justify-content: flex-start;
}

.work__content--btnDetails {
    border-radius: 30px;
    padding: 15px;
    width: 130px;
    border: 3px solid #F26464;
    margin: 50px 0px;
    transition: all 0.3s ease-in;
}

.work__content--btnDetails a {
    letter-spacing: 2px;
    color: #F26464;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
}

.work__content--btnDetails:hover {
    background-color: #F26464;
}

.work__content--btnDetails:hover a {
    color: white;
}


.work__content--banner  {
    padding-right: 21px;
    padding-left: 51px;
    width: 50%;
    height: auto;
}

.work__content--img img {
    width: 90%;
    height: 438px;
}

.footer {
    position: relative;
    width: 100%;
    height: 560px;
    background-color: black;
    padding: 50px 190px;
}

.footer__content {
    padding-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    align-items: center;
}

.footer h2 {
    color: white;
    text-align: center;
} 

.footer h2:nth-child(1) {
    font-size: 16px;
    color: #868383;
    font-weight: 500px;
}

.footer h2:nth-child(2) {
    font-size: 46px;
    font-weight: 700px;
    line-height: 36px;
}

.footer h2:nth-child(3) {
    font-size: 18px;
    font-weight: 700px;
    color: #d6d1d1;
    line-height: 0px;
}

.footer__content--btn {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 48px;
}

.footer__content--btnDetail {
    width: 152px;
    margin: 30px 0px;
}

.footer__content--end {
    width: 100%;
}

.footer__content--end p {
    color: #868383;
}















